@{
    ViewData["Title"] = "Panel de Farmacéutico";
}

<div class="text-center">
    <h1 class="display-4">Panel de Farmacéutico</h1>
    <p>Aquí pueden entrar el Administrador y el Farmacéutico.</p>
</div>